<% provide(:title, "ЛОР КЛИНИКА: Контакты") %>
<div class="container">
  <div id="contact">
    <div class=col-md-12 col-sm-12 col-xs-12>
      <div class="divbase10">
        <div class="">
          <h3><span class="glyphicon glyphicon-globe"></span> Контактная информация</h3>
        </div>
        <br>
        <div class="contacts">
          <h4><b>Адрес производства:</b> <span class="glyphicon glyphicon-map-marker"></span> Удмуртская республика, Малопургинский район, д. Старая Монья, ул. Новая, д.13 (50 км от Ижевска в направлении Можги)</h4>
          <h4><b>Телефон:</b> <span class="glyphicon glyphicon-phone"></span> 8-950-162-17-47</h4>
          <h4><b>Контактное лицо:</b> <span class="glyphicon glyphicon-user"></span> Дедюхин Сергей Сергеевич</h4>
        </div>
      </div>
    </div>
    <div class=col-md-12 col-sm-12 col-xs-12>
      <div class="bpodl">  
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=sV0fQdkdd865LeXo-faoAccKlMCxz3E0&width=auto&height=450"></script>
      </div>
    </div>
  </div>
</div>