<% provide(:title, "Врачи клиники: ГОРБОНОСОВ Игорь Валентинович") %>

<div class="container">      
        
        <div class="col-md-2 col-sm-3 col-xs-12">
          <p class="imgp"><%= image_tag "gorbonosov.png", class: "imgd" %></p>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-12 docontent divbase">
          <h2>ГОРБОНОСОВ Игорь Валентинович</h2>
          <h4>Кандидат медицинских наук, врач высшей квалификационной категории.</h4>
          <br>
          <p class="italicpbl">Последипломная подготовка:</p>
          <ul class="itemlist">
            <li>1992-1995: очная аспирантура, кафедра ЛОР болезней Кубанской медицинской академии.</li>
            <li>2000: семинар Зальцбург-Корнелл по отоларингологии, г. Зальцбург, Австрия.</li>
            <li>2001: стажировка по функциональной эндоскопической хирургии околоносовых пазух, ЛОР отделение госпиталя Lainz, г. Вена, Австрия.</li>
            <li>2003: стажировка по функциональной эндоскопической хирургии околоносовых пазух в клинике проф. Х. Штаммбергера, г. Грац, Австрия.</li>
            <li>2005: стажировка по общей оториноларингологии и эстетической хирургии головы и шеи в ЛОР отделении Salzburg Landesklinik, г. Зальцбург, Австрия.</li>
            <li>2006: Сертифицированный курс «Теория и практика применения препарата Диспорт в эстетической медицине»</li>
            <li>2006: Стажировка по специальности «Хирургия головы и шеи» ЛОР отделение университетской клиники Mount Sinai, г. Торонто, Канада</li>
            <li>2006: Стажировка по специальности «Детская Оториноларингология» ЛОР отделение Детской Больницы Hospital for Sick Children, г. Торонто, Канада</li>
            <li>2006: Специализация на рабочем месте по специальности «эстетическая хирургия». Отделение пластической и реконструктивной хирургии МУП «Косметологическая лечебница», г. Тверь</li>
            <li>2007: Курс повышения квалификации «Косметические и реконструктивно-восстановительные операции». Кафедра косметологии, челюстно-лицевой и пластической хирургии Российской Медицинской Академии Последипломного Образования, г. Москва.</li>
            <li>2008: Практический курс "Аугментационные процедуры: техники взятия костных трансплантатов и работы с мягкими тканями". г. Ольсберг, Германия.</li>

            <li><%= link_to "2008: Стажировка в отделении отоларингологии, пластической и реконструктивной хирургии клиники New York Presbyterian - The University Hospital of Columbia and Cornell. Нью-Йорк, США.", 'http://www.loronline.ru/forum/viewtopic.php?t=3999&sid=eb62b7d75c48058e804c4416325812d6' %></li>
            <li><%= link_to "2009: Участие во Всемирном съезде оториноларингологов в Сан-Пауло, Бразилия.", 'http://www.loronline.ru/forum/viewtopic.php?t=3542' %></li>
            <li><%= link_to "2009: Стажировка в ЛОР отделении Columbia University Medical Center, Нью-Йорк, США.", 'http://www.loronline.ru/forum/viewtopic.php?t=5445' %></li>
            <li>2009: Стажировка в частной клинике пластической хирургии доктора Jeffrey Ahn. Нью-Йорк, США.</li>
            <li>2010: Профессиональная переподготовка по специальности «Пластическая хирургия». Кафедра эстетической и пластической хирургии Российского университета дружбы народов, г. Москва.</li>
            <li>2010: Участие в ежегодной конференции Европейской академии пластической хирургии лица. Анталия, Турция.</li>                  
          </ul>        
        </div>      
      
</div>
