<% provide(:title, "Слух: подбор слуховых аппаратов") %>
<div class="container">
  
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Подбор слуховых аппаратов</h2>
        <br>
        
        <p>Сегодня на рынке России появляется все больше технических изделий, в том числе и слуховых аппаратов (СА), которые могут обеспечить хорошие коммуникативные возможности для слабослышащих людей в любых условиях. Эта техника будет выполнять свои функции и надежно служить лишь в том случае, если ее подбор, настройку и сервисное обслуживание осуществляют специалисты.</p>

        <p class="imgprino"><%= image_tag "ha1.jpg", class: "img-responsive imgd" %></p>

        <p class="italicpbl">В ЛОР КЛИНИКЕ проводится:</p>        
        <ul class="mhul1">
          <li><span class="glyphicon glyphicon-ok"></span> <span>консультации высококвалифицированных специалистов по вопросам слухопротезирования;</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span>полное аудиологическое обследование детей и взрослых;</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span>подбор слуховых аппаратов, регулировка СА на компьютере. Клиника предлагает аналоговые, программированные и цифровые СА, которые производятся в Швейцарии, Дании, Германии в соответствии с самыми современными цифровыми технологиями. Мы предлагаем более 50 моделей слуховых аппаратов заушного, внутриушного и внутриканального типов для коррекции любых форм тугоухости;</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span> тестирование и регулировка СА любых фирм;</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span> срочное изготовление индивидуальных внутриушных вкладышей за 3 часа;</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span> срочное изготовление индивидуальных внутриушных и внутриканальных цифровых СА за 24-48 часов;</span></li>
          <li><span class="glyphicon glyphicon-ok"></span> <span> гарантийное и постгарантийное обслуживание.</span></li>
        </ul>

        <p>Квалифицированные специалисты ЛОР КЛИНИКИ предложат широкий ассортимент для слабослышащих людей, лучшие модели для слуховых аппаратов для любых потерь слуха и финансовых возможностей.</p>
        <p class="imgprino"><%= image_tag "ha2.jpg", class: "img-responsive imgd" %></p>
        <p class="italicpbl">Условно СА можно разделить на три класса:</p>
        <ul class="itemlist">
          <li>«Эконом» - СА для людей с невысокой социальной активностью, привыкшие к тихому акустическому окружению. Несмотря на невысокую цену, модели этого класса имеют высокое качество и надежность, обеспечивают хорошую разборчивость речи, ими просто и удобно пользоваться. Это СА отечественного и зарубежного производства, в основном аналоговые и программируемые, среди которых наиболее популярны модели серий «Соната», Исток».</li>
          <li>«Оптима» - аппараты этого класса выбирают люди, для которых решающим фактором является соотношение цена/качество. Среди этих моделей представлены высококачественные слуховые аппараты серии «Санта» ведущего отечественного производителя «Исток-Аудио», а также программируемые и цифровые аппараты ведущих мировых фирм GN ReSound (Дания), Ponak и Bernafon (Швейцария), Siemens (Германия).</li>
          <li>Слуховые аппараты класса «Премиум» - СА для людей, ведущих активный образ жизни и имеющих высокие жизненные требования, часто оказывающиеся в сложном акустическом окружении, а также для детей. Чьи заботливые родители стараются предоставить своему ребенку все шансы в реабилитации слуха. Решающий фактор выбора – превосходное качество и максимальные возможности.</li>
        </ul>
        
        <p>Уникальные слуховые системы от лучших мировых производителей характеризуются широчайшими возможностями цифровых обработок сигнала, реализованными алгоритмами и технологическими новшествами, что обеспечивает великолепное естественное звучание и разборчивость речи. Вы можете подобрать великолепный СА желаемой модификации от среднемощного внутриканального, невидимого снаружи, но имеющего пульт управления программами, до сверхмощного заушного аппарата с FM-системой.</p>

      </div>  
    </div>  
   
</div>