<% provide(:title, "Утепление дома, фасадные термопанели, теплоизоляция") %>
<div class="div_bw">
  <div class="container">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      
        <p class="text-info"><%= image_tag "lor.jpg", class: "img-responsive img-thumbnail leftimgsa" %><span>ЛОР КЛИНИКА функционирует на базе Краевой больницы №3 (ЛОР центр).</span></p>
        <p class="italicp">Работа на базе государственного учреждения обязывает строго соблюдать все медицинские и санитарные стандарты. Операции выполняются с применением только материалов компаний с мировым именем, гарантирующих абсолютное качество лечения. В клинике проводится лечение как наиболее распространенных ЛОР заболеваний (отит, гайморит и другие синуситы, искривление носовой перегородки, заболевания горла, храп, тонзиллит, полипы носа), так и сложные высокотехнологичные операции (эндоскопическая хирургия полости носа и околоносовых пазух, тимпанопластика при хроническом отите, лазерная хирургия и другие).</p>
        <p class="italicp">Краснодар занимает одну из лидирующих позиций в стране по количеству проведенных пластических операций. Начиная с 70-х годов врачами Краснодарской ЛОР КЛИНИКИ был накоплен огромный опыт пластических операций. Была сформирована мощная техническая и кадровая база. Уже в те годы в Краснодаре работали специалисты, которые успешно проводили такие сложные пластические операции как ринопластика (пластика носа) и отопластика (пластика оттопыренных ушных раковин).</p>
        <p class="italicp">Сейчас передовые достижения косметологии и пластической хирургии, зарубежный опыт и высокие стандарты российской медицинской школы позволяют специалистам отделения проводить изготовление силиконовых протезов для замещения отсутствующих с рождения или утраченных в результате травм частей лица (ушные раковины, наружный нос и др.), подтяжку лица и шеи (фейс-лифтинг), липосакцию, блефаропластику (операции на веках), увеличение молочных желез (пластика увеличение груди), шлифовку кожи с помощью дермабразии, устранению морщин инъекциями ботулотоксина (Ботокс, Диспорт), и множество других, востребованных на сегодняшний день, пластических операций.</p>
        <p style="text-align:center;"><a role="button" href="/about" class="btn btn-clear">Подробнее</a></p>
    </div>    
    
  </div> 
</div>
