<% provide(:title, "Круговая подтяжка лица (Лифтинг)") %>
<div class="container">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Круговая подтяжка лица (Лифтинг)</h2>
        <br>    
        <p>Подтяжка лица сегодня уже не является некой диковинкой, как это было совсем недавно. Как и другие пластические процедуры, она доступна всем, желающим сохранить свой внешний вид неизмененным в течение многих лет. Современные методики позволяют нашим пациентам выглядеть более естественно, так как они выглядели 5-10 лет назад.</p>
        <p class="imgprino"><%= image_tag "facelift_main_.jpg", class: "img-responsive imgd" %></p>
        <p>При подтяжке удаляется избыточная кожа лица и шеи, которая с возрастом начинает терять тонус и образовывать морщины. Во время операции в нашей клинике мы также удаляем избыточный жир и уплотняем глубокие ткани лица. Разрезы располагаются в естественных складках, чтобы сделать рубец наименее заметным. </p>
        <p>Операция продолжается от двух до пяти часов и проводится под внутривенной анестезией. Иногда анестезиолог предпочитает интубировать пациента, чтобы ввести его в более глубокий сон.</p>
        <p>Часто одновременно с подтяжкой лица пациенты просят выполнить и другие процедуры – удаление жировых грыж под веками, пластику подбородка и шеи, исправление формы носа.</p>
        <p>После операции пациенты испытывают определенный дискомфорт. В случае необходимости назначаются анальгетики. Большая часть швов снимается через неделю, но некоторые остаются на более длительное время. В течение двух недель после операции мы рекомендуем носить компрессионную повязку или эластические бинты, чтобы уменьшить отечность. Чаще всего вы можете вернуться к обычной жизни через 2-3 недели, хотя иногда кровоизлияния и отеки остаются заметными до месяца. Интенсивную физическую нагрузку и посещение сауны придется отложить на 3-4 месяца. В послеоперационном периоде важно употреблять в пищу много белка и больше отдыхать.</p>
        <p>Подтяжка лица является очень индивидуальной процедурой и имеет множество вариантов. В процессе предоперационных консультаций Вы должны обговорить с хирургом все волнующие Вас вопросы.</p>       

      </div>  
    </div>  
   
</div>