<% provide(:title, "Подготовка к операции") %>
<div class="container">
      
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="wellbase">
        <h2>Подготовка к операции</h2>
        <br>
        
        <p class="italicpbl">Для госпитализации в стационар нужно иметь с собой паспорт и результаты следующих исследований:</p>

        <ul class="itemlistsa">
          <%= image_tag "preparing.jpg", class: "img-responsive rightimgsa imgd" %>
          <li>Общий анализ крови + тромбоциты и время свёртывания крови.  </li>
          <li>МОР или реакция Вассермана, антитела к ВИЧ и гепатиту В и С.</li>
          <li>Группа крови и Rh-фактор.</li>
          <li>Общий анализ мочи.</li>
          <li>Флюорография грудной клетки (не более годичной давности).</li>
          <li>ЭКГ и заключение терапевта об отсутствии противопоказаний к оперативному лечению.</li>
          <li>Детям до 15 лет эпид. справку и заключение педиатра об отсутствии противопоказаний к оперативному лечению.</li>
          <li>Для больных с заболеванием носа или околоносовых пазух - рентгенография пазух или компьютерная томограмма (параметры исследования определяет врач на предварительной консультации).</li>
          <li>Для больных с гнойным заболеванием ушей - рентгенография сосцевидного отростка по Шюллеру.</li>
          <li>Для больных, идущих на операцию под наркозом, дополнительно: глюкоза крови и мочевина крови.</li>
        </ul>
        <br>
        <p class="italicpblb">Срок годности анализов 10 дней, поэтому сдавать их можно только после согласования даты операции с врачом.</p>
        <br>
        <p>Если операция проводится по эстетическим показаниям (исправление формы носа, ушных раковин, блефаропластика, подтяжка лица и т.д.), Вам необходимо иметь свою фотографию в стандартных ракурсах. Обычно такие фотографии делает сам хирург в процессе предоперационных консультаций.</p>

      </div>  
    </div>  
   
</div>