<% provide(:title, "Врачи клиники: СЕМЕНОВ Федор Вячеславович") %>

<div class="container">     
     
        <div class="col-md-2 col-sm-3 col-xs-12">
          <p class="imgp"><%= image_tag "semenov.png", class: "imgd" %></p>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-12 docontent divbase">
          <h2>СЕМЕНОВ Федор Вячеславович</h2>
          <h4>Доктор медицинских наук, профессор, врач высшей квалификационной категории.</h4>
          <h4>Главный оториноларинголог департамента здравоохранения Краснодарского края.</h4>
          <h4>Председатель общества оториноларингологов Кубани.</h4>
          <h4>Член правления Всероссийского общества оториноларингологов.</h4>
          <h4>Автор 197 научных публикаций.</h4>
          <br>
          <p class="italicpbl">Последипломная подготовка:</p>
          <ul class="itemlist">
            <li>1982-1984: клиническая ординатура на кафедре ЛОР болезней Кубанского медицинского института.</li>
            <li>1985-1987: очная аспирантура на кафедре ЛОР болезней Кубанского медицинского института.</li>
            <li>1989-1990: стажировка по слухулучшающей хирургии на базах 1-го ММИ и Московского НИИ уха, горла и носа.</li>
            <li>1990: стажировка по общим вопросам оториноларингологии, крио – и лазерной хирургии на базах 1-го ММИ и Московского НИИ уха, горла и носа.</li>
            <li>2002: курс вестибулологии на базе специализированного центра в г. Маострихт (Голландия).</li>
            <li>2002 международный семинар Зальцбург-Корнелл по современным достижениям в области оториноларингологии и пластической хирургии, г. Зальцбург, Австрия.</li>
            <li>2003: стажировка по функциональной эндоскопической хирургии околоносовых пазух, микрохирургии уха и гортани ЛОР-клиника им. Проф Вульштейна, г. Вюрцбург, Германия.</li>
            <li>2004: стажировка по функциональной эндоскопической хирургии околоносовых пазух, микрохирургии уха и гортани ЛОР-клиника в г. Тюбинген, Германия.</li>
            <li>2005: стажировка по функциональной эндоскопической хирургии носа и околоносовых пазух, микрохирургии уха и гортани ЛОР-клиника госпиталя Lanz, г. Вена, Австрия.</li>
            <li>2007: стажировка по вопросам функциональной эндоскопической хирургии носа и околоносовых пазух, косметических операциий в области наружного носа и ушных раковин, микрохирургии уха и гортани ЛОР-клиника центрального клинического госпиталя AKH, г. Вена, Австрия.</li>
            <li>2007: курс вестибулологии на базе специализированного центра в г. Маострихт (Голландия).</li>

            <li>2009: участие в симпозиуме "Стратегии лечения заболеваний верхних дыхательных путей", Берлин (Германия)</li>
            <li>2009: практический курс "Хирургические и аудиологические аспекты технологии Baha", Москва</li>
            <li>2009: семинар "Проблемы лечения риносинусита", Барселона, Испания</li>
            <li>2009: Практический курс по пластической реконструктивной хирургии головы и шеи (анапластология), Гетеборг, Швеция</li>
            <li>2010: Профессиональная переподготовка по специальности «Пластическая хирургия». Кафедра эстетической и пластической хирургии Российского университета дружбы народов, г. Москва.</li>
            <li>2010: Участие в ежегодной конференции Европейской академии пластической хирургии лица. Анталия, Турция.</li>
            <li>2011:Миланский мастер-класс по эндоскопической хирургии околоносовых пазух и основания черепа</li>          
          </ul>
          <br>
          <p class="italicp">Пользуется авторитетом в России и за рубежом. Выступал с докладами в том числе программными на многих Всероссийских съездах и конференциях, а также международных съездах оториноларингологов в Сиднее(1997), Анталии (1998), Каире (2003), Риме (2006), Сан-Пауло, Бразилия (2009).</p>
          <p class="italicp">Регулярно наряду с ведущими специалистами Европы и США приглашается в качестве лектора на международные семинары повышения квалификации врачей Ближнего востока (Бейрут, 2004, 2005, 2006)</p>
          <p class="italicp">Является научным консультантом Национального Института Лазерных исследований в Каире.</p>
        </div>       

</div>
